<ul>
  <li>First Name: {{model.firstName}}</li>
  <li>Last Name: {{model.lastName}}</li>
  <li>Email: {{model.email}}</li>
  <li>twitter: {{model.twitter}}</li>
</ul>

<p>
  {{link-to "Go back" "friends.index"}}
  {{link-to "Edit" "friends.edit" model}}
  <a href="#" {{action "delete" model}}>Delete</a>
  {{!-- {{action "Delete" "delete"}} --}}
  {{!-- <a href="#" {{action "delete" model}}>Delete</a> --}}
</p>